@model Move2._0.ViewModel.ShoppingCart.ConfirmacionViewModel
@{
    ViewBag.Title = "Confirmacion";
}

<h2>Confirmacion</h2>
<p>
    @Model.PaymentStatusDescription
    <br />
    @Model.PaymentStatus
    <br/>
    @Model.PaymentMethodId
    <br/>
    @Model.PaymentStatusId
    <br />
    @Model.TransactionAmount
</p>